<header class="app-bar">
  <h1 class="app-bar-title">Timely</h1>
  <div class="app-bar-spacer"></div>
  <button class="button" (click)="logout()">Logout</button>
</header>
<nav class="tabs">
  <ul class="tabs-list">
    <li class="tabs-item" routerLinkActive="tabs-item-selected"><a routerLink="/main/entries">Today's Work</a></li>
    <li class="tabs-item" routerLinkActive="tabs-item-selected"><a routerLink="/main/clients">Clients</a></li>
    <li class="tabs-item" routerLinkActive="tabs-item-selected"><a routerLink="/main/report">Report</a></li>
  </ul>
</nav>
<router-outlet></router-outlet>
